/* ---------------------------------------------------- */
/* ----- SLIDER ----- */
/* ---------------------------------------------------- */

.slider {
  width: 100vw;
  height: 40vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &--desktop {
    display: none;
  }
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;

  &--1 {
    background: url('../images/img_slide_1.jpg') no-repeat center;
    background-size: cover;
    animation: fade 14s infinite;
  }

  &--2 {
    background: url('../images/img_slide_2.jpg') no-repeat center;
    background-size: cover;
    animation: fade2 14s infinite;
  }

  &--3 {
    background: url('../images/img_slide_3.jpg') no-repeat center;
    background-size: cover;
    animation: fade3 14s infinite;
  }
}

@keyframes fade {
  0%   { opacity: 1 }
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade2 {
  0%   { opacity: 0 }
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}

@keyframes fade3 {
  0%   { opacity: 0 }
  33.333% { opacity: 0 }
  66.666% { opacity: 1 }
  100% { opacity: 0 }
}

/* ---------------------------------------------------- */
/* ----- MEDIA QUERIES -- SLIDER ----- */
/* ---------------------------------------------------- */

@media #{$mobile_land__640} {

  .slider {
    height: 30vh;
  }
}

@media #{$tablet__768} {

  .slider {
    height: 25vh;

    &--desktop {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }
}

@media #{$tablet_land__1024} {

  .slider {
    height: 40vh;
  }
}

/* ----- END OF SLIDER ----- */